.color-picker-label {
  color: #222226;
  padding: 0.3em;
  min-width: 6em;
  font-size: 1.4em;
  border-radius: 0.4em;
  background-color: #dedee4;
  border: 0.05em solid rgba(34, 34, 38, 0.4);
  /* box-shadow leads afterimage when moving */
}

.color-picker-button {
  padding: 0 0.5em;
}

.color-picker-systray:state-busy {
  color: st-darken(-st-accent-color, 8%);
}

.color-picker-item-label {
  font-family: monospace;
}

.color-picker-item-label:focus {
  outline: 0.15em solid st-darken(-st-accent-color, 4%);
}

.color-picker-icon {
  padding: 0 0.15em;
}

.color-picker-icon:hover {
  color: st-darken(-st-accent-color, 8%);
}

.color-picker-icon:focus {
  outline: 0.15em solid st-darken(-st-accent-color, 4%);
}
